.form_main{
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    width: 80%;

}
.form_1{
    /* background-color:antiquewhite; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 8px;
    
}
/* input[type="radio"]:checked {
    box-shadow: 0 0 0 3px orange;
} */
.form_1 input{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}
.form_1 label{
    padding: 7px 0px 7px 12px;
    width: 100%;
    background-color:#F6F7F8;
    border: 1px solid #71808C;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.popup_container{
    width: 100%;
    height: 100%;
    background-color: rgb(171, 171, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.popup_container.active{
    opacity: 1;
    pointer-events: auto;
    transition: .4s ease; 
}
.popup_container_box{
    width: 70%;
    height: 95%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transform: scale(0);
}
.popup_container.active .popup_container_box{
    transform: scale(1);
    transition: .4s ease; 
    transition-delay: .25s;
}
.popup_box{
    width: 80%;
    height: 90%;
    /* background-color: red; */
    display: flex;
    
}
.popup_box_left{
    width: 15%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: flex-end;
}
.popup_box_left_circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #C6DBFF;
    margin: 15px;
}
.popup_box_right{
    width: 85%;
    height: 100%;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
}
.popup_box_right_head{
    height: 20%;
    /* background-color:chartreuse; */
}
.popup_box_right_head_top{
    display: inline-flex;
    flex-direction: column;
    height: 50%;
    /* background-color: brown; */
}
.popup_box_right_head_top_top{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    height: 50%;
    /* background-color: rgb(70, 76, 203); */
}
.popup_box_right_head_top_top p{
    color: #71808C;
    font-size: 12px;
}
.popup_box_right_head_top_tail{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50%;
    /* background-color: rgb(227, 39, 205); */
}
.popup_box_right_head_top_tail p{
    font-weight: bold;
}
.popup_box_right_head_tail{
    border-top: 1px solid #71808C;
    display: flex;
    justify-content: space-between;
    height: 50%;
    /* background-color: rgb(84, 115, 57); */
}
.popup_box_right_head_tail_left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: red; */
}
.popup_box_right_head_tail_left p{
    font-size: 14px;
    color: #71808C;
}
.popup_box_right_head_tail_right{
    width: 50%;
    display: flex;
    justify-content: space-around;
    /* background-color: plum; */
}
/* .popup_box_right_head_tail_right_correct{ */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    /* text-align: center; */
    /* line-height: 0.4; */
    /* background-color: rgb(96, 255, 81); */
/* } */
.popup_box_right_head_tail_right_correct p{
    /* background-color: aqua; */
    line-height: 0.4;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.cor{
    color: #59B975;
}
.score{
    color: #71808C;
}
.incor{
    color: #D85454;
}
.ans{
    color: #71808C;
}
.popup_box_right_head_tail_right_correct .p_pop{
    height: 33%;
}
.popup_box_right_main{
    overflow: auto;
    height: 70%;
    /* background-color: orchid; */
    padding-top: 15px;
}
.popup_box_right_main_box{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color:aquamarine; */
    border: 1px solid #71808C;
    border-radius: 10px;
    margin-bottom: 15px;
}
.popup_box_right_main_box_top{
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.popup_box_right_main_box_top_left{
    width: 33%;
    display: flex;
    padding: 10px;
    /* background-color: #59B975; */
}
.popup_box_right_main_box_top_left p{
    /* background-color: rgb(139, 114, 163); */
    color: #71808C;
    margin-right: 10px;
}
.popup_box_right_main_box_top_left i{
    /* background-color: blueviolet; */
    /* color: #59B975; */
}
.popup_box_right_main_box_top_mid{
    width: 33%;
    display: flex;
    padding: 10px;
    /* background-color: #363dca; */
}
.popup_box_right_main_box_top_mid i{
    margin-right: 10px;
}
.popup_box_right_main_box_top_right{
    width: 33%;
    /* background-color: #7c194f; */
}
.popup_box_right_main_box_tail{
    width: 80%;
    /* background-color: #D85454; */
}
.popup_box_right_tail{
    height: 10%;
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_box_right_tail button{
    background-color:#447BF7;
    color: white;
    border: none;
    width: 12.5%;
    height: 50%;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}