.form_main{
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    width: 80%;

}
.form_1{
    /* background-color:antiquewhite; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 8px;
    
}
/* input[type="radio"]:checked {
    box-shadow: 0 0 0 3px orange;
} */
.form_1 input{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}
.form_1 label{
    padding: 7px 0px 7px 12px;
    width: 100%;
    background-color:#F6F7F8;
    border: 1px solid #71808C;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.popup_container{
    width: 100%;
    height: 100%;
    background-color: rgb(171, 171, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.popup_container_box{
    width: 70%;
    height: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
/* .popup_box{
    width: 80%;
    height: 90%;
    background-color: red;
    display: flex;
} */
.popup_box_left{
    width: 15%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}
.popup_box_left_circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #C6DBFF;
}
.popup_box_right{
    width: 85%;
    height: 100%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}
.popup_box_right_head{
    height: 20%;
    background-color:chartreuse;
}
.popup_box_right_main{
    height: 60%;
    background-color: orchid;
}
.popup_box_right_tail{
    height: 20%;
    background-color: blanchedalmond;
}