/* *{
    border: 1px solid red;
} */
html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.home_page{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    height: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #CAD1D8;
    height: 85px;
}
.navbar_left{
    /* width: 30%; */
    width: 250px;
    background-color: #F3F8FF;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_left a{
    text-decoration: none;
    font-weight: 600;
}
.cs{
    width: 40px;
    height: 40px;
    border-radius: 20%;
    background-color: #447BF7;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 20px;
}
.navbar_right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: white;
}
.navbar_right a{
    text-decoration: none;
    color: #1F384C;
}
.navbar_right_box{
    display: block;
    /* background-color:red; */
    margin-right: 10%;
}
.navbar_right_icon{
    font-size: 26px;
    margin-right: 3.5%;
    color: #1F384C;
}
.username{
    margin-bottom: -10%;
    /* background-color: yellow; */
    color: #1F384C;
}
.student{
    /* background-color: purple; */
    color: #71808C;
}
.navbar_right_icon2{
    font-size: 20px;
    color: #B0C3CC;
}
.main{
    display: flex;
    background-color: rgb(92, 156, 156);
    height: 100%;
}
.main_left{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#F3F8FF;
    /* background-color: red; */
}
.menu{
    height: 300px;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
}
.menu a{
    color: #71808C;
    border-radius: 10px;
    margin: 15px 15px 0px 15px;
    padding: 15px;
    background-color:#F3F8FF;
    text-decoration: none;
    font-size: 16px;
}
.menu i{
    margin-right: 10px;
}
.menu a:hover{
    background-color: #C6DBFF;
    color: #447BF7;
}
.menu_bottom{
    /* height: 25%; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}
.menu_bottom a{
    color: #71808C;
    border-radius: 10px;
    margin: 15px 15px 0px 15px;
    padding: 15px;
    background-color:#F3F8FF;
    text-decoration: none;
    font-size: 16px;
}
.menu_bottom i{
    margin-right: 3.5%;
}
.menu_bottom a:hover{
    background-color: #C6DBFF;
    color: #447BF7;
}
.main_right{
    /* width: 1300px; */
    /* width: 80%; */
    width: 100%;
    background-color: white;
}
.main_right_top{
    height: 50%;
    /* background-color: red; */
}
.search_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    /* background-color: blue; */
}
.search_box input{
    width: 50%;
    padding: 10px;
    border: 1px solid #71808C;
    color: #71808C;
    border-radius: 30px;
    height: 12.5%;
}
.subset_subject{
    /* background-color: red; */
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle_subject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12.5%;
    /* background-color: orange; */
}
.circle{
    background-color: #C6DBFF;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.main_right_bottom{
    height: 50%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_bottom{
    margin-bottom: 5%;
    display: flex;
    /* background-color:red; */
    height: 60%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.box{
    margin: 12.5px;
    width: 15%;
    height: 100%;
    border-radius: 25px;
    background-color:#C6DBFF;
}