/* *{
    border: 1px solid red;
} */
html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.home_page{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    height: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #CAD1D8;
    height: 10%;
}
.navbar_left{
    width: 20%;
    background-color: #F3F8FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_left a{
    text-decoration: none;
    font-weight: 600;
}
.cs{
    width: 40px;
    height: 40px;
    border-radius: 20%;
    background-color: #447BF7;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3.5%;
    font-size: 20px;
}
.navbar_right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: white;
}
.navbar_right a{
    text-decoration: none;
    color: #1F384C;
}
.navbar_right_box{
    display: block;
    /* background-color:red; */
    margin-right: 10%;
}
.navbar_right_icon{
    font-size: 26px;
    margin-right: 3.5%;
    color: #1F384C;
}
.username{
    margin-bottom: -10%;
    /* background-color: yellow; */
    color: #1F384C;
}
.student{
    /* background-color: purple; */
    color: #71808C;
}
.navbar_right_icon2{
    font-size: 20px;
    color: #B0C3CC;
}
.main{
    display: flex;
    background-color: rgb(92, 156, 156);
    height: 100%;
}
.main_left{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#F3F8FF;
}
.menu{
    height: 50%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
}
.menu a{
    color: #71808C;
    border-radius: 10px;
    margin: 15px 15px 0px 15px;
    padding: 15px;
    background-color:#F3F8FF;
    text-decoration: none;
    font-size: 16px;
}
.menu i{
    margin-right: 3.5%;
}
.menu a:hover{
    background-color: #C6DBFF;
    color: #447BF7;
}
.menu_bottom{
    height: 25%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}
.menu_bottom a{
    color: #71808C;
    border-radius: 10px;
    margin: 15px 15px 0px 15px;
    padding: 15px;
    background-color:#F3F8FF;
    text-decoration: none;
    font-size: 16px;
}
.menu_bottom i{
    margin-right: 3.5%;
}
.menu_bottom a:hover{
    background-color: #C6DBFF;
    color: #447BF7;
}
.main_right{
    width: 80%;
    background-color: red;
}
.main_right_top{
    /* width: 20%; */
    background-color: white;
}
.main_right_bottom{
    background-color: aqua;
}