/* *{
    border: 1px solid red;
} */
.main_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.main_right_multi_head{
    width: 80%;
    /* background-color:red; */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.main_right_multi_head_box_left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main_right_multi_head_left{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #C6DBFF;
    margin-right: 10px;
}
.main_right_multi_head_box_right{
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    width: 200px;
}
.main_right_multi_head_box_right p{
    color: #447BF7;
}
.main_right_multi_head_right{
    /* background-color: red; */
}
.main_right_multi_head_right_top{
    /* height: 25%; */
    /* background-color: orange; */
    color: #71808C;
    font-size: 16px;
}
.main_right_multi_head_right_bottom{
    /* height: 75%; */
    /* background-color:aquamarine; */
    font-weight: bold;
    margin-top: -10px;
}
.main_right_multi_main{
    width: 85%;
    height: 75%;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.main_right_multi_main_box{
    width: 80%;
    height: 100%;
    /* background-color: #447BF7; */
}
.main_right_multi_main_box_head{
    height: 20%;
    /* background-color: rgb(194, 131, 37); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_right_multi_main_box_head_left{
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: chartreuse; */
}
.main_right_multi_main_box_head_left p{
    color: red;
}
.main_right_multi_main_box_head_right{
    width: 75%;
    height: 70%;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #F6F7F8;
    color: #71808C;
    border-radius: 10px;
    font-size: 18px;
}
.main_right_multi_main_box_main{
    height: 50%;
    /* background-color: aquamarine; */
}
.main_right_multi_main_box_main_head{
    display: flex;
}
.main_right_multi_main_box_main_head p{
    color: red;
}
.main_right_multi_main_box_main_main textarea{
    padding: 15px;
    background-color: #F6F7F8;
    border: 1px solid #71808C;
    border-radius: 10px;
    color: #71808C;
    font-size: 16px;
}
.main_right_multi_main_box_tail{
    height: 15%;
    background-color: rgb(218, 251, 72);
}
.main_right_multi_main_box_submit{
    height: 10%;
    background-color: rgb(224, 58, 182);
}