{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'blog/css/home_page.css' %}">

</head>
<body>
    <div class="home_page">
        <div class="navbar">
            <div class="navbar_left">
                <a href="#" class="cs">CS</a>
                <a href="#">Quizzes Management</a>
            </div>
            <div class="navbar_right">
                <div class="navbar_right_icon">
                    <i class="fa-regular fa-circle-user"></i>
                </div>
                <div class="navbar_right_box">
                    <p class="username">Fristname Lastname</p>
                    <p class="student">Student</p>
                </div>
                <div class="navbar_right_icon2">
                    <i class="fa-solid fa-bell"></i>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main_left">
                <div class="menu">
                    <a href="#"><i class="fa-solid fa-house"></i>Home</a>
                    <a href="#"><i class="fa-solid fa-square-poll-vertical"></i>Dashboard</a>
                    <a href="#"><i class="fa-solid fa-square-plus"></i>Create Test Set</a>
                    <a href="#"><i class="fa-regular fa-pen-to-square"></i>Practice</a>
                </div>
                <div class="menu_bottom">
                    <a href="#"><i class="fa-solid fa-user"></i>Profile</a>
                    <a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
                </div>
            </div>
            <div class="main_right">
                <!-- Main -->
                <div class="main_right_top">
                    <div class="search_box">
                        <input name="fsrch" id="fsrch" placeholder="Search for any subjects">
                    </div>
                    <div class="subset_subject">
                        <div class="circle_subject">
                            <div class="circle"></div>
                            <p>Math</p>
                        </div>
                        <div class="circle_subject">
                            <div class="circle"></div>
                            <p>Science</p>
                        </div>
                        <div class="circle_subject">
                            <div class="circle"></div>
                            <p>English</p>
                        </div>
                        <div class="circle_subject">
                            <div class="circle"></div>
                            <p>Computer</p>
                        </div>
                        <div class="circle_subject">
                            <div class="circle"></div>
                            <p>Art</p>
                        </div>
                    </div>
                </div>
                <div class="main_right_bottom">
                    <div class="box_bottom">
                        <div class="box"></div>
                        <div class="box"></div>
                        <div class="box"></div>
                        <div class="box"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>