{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'blog/css/home.css' %}">
</head>

<body>
    <div class="nav_home">
        <div class="nav_home_head">
            <div class="cs">CS</div>
            <a href="#">Quizzes Management</a>
        </div>
        <hr>
        <a href="#"><i class="fa-solid fa-house"></i>Home</a>
        <a href="#"><i class="fa-solid fa-square-poll-vertical"></i>Dashboard</a>
        <a href="#"><i class="fa-solid fa-square-plus"></i>Create test set</a>
        <a href="#"><i class="fa-regular fa-pen-to-square"></i>Practice</a>

        <div class="nav_home_tail">
            <hr>
            <a href="#"><i class="fa-solid fa-user"></i>My Profile</a>
            <a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
        </div>
    </div>
    
    <div class="main_home">
        <div class="main_home_head">
            <a href="#"><i class="fa-regular fa-circle-user"></i>Username</a>
            <i class="fa-regular fa-bell"></i>
        </div>
        <hr>

        <div id="search">
            <svg viewBox="0 0 420 60" xmlns="http://www.w3.org/2000/svg">
                <rect class="bar"/>
                
                <g class="magnifier">
                    <circle class="glass"/>
                    <line class="handle" x1="32" y1="32" x2="44" y2="44"></line>
                </g>
        
                <g class="sparks">
                    <circle class="spark"/>
                    <circle class="spark"/>
                    <circle class="spark"/>
                </g>
        
                <g class="burst pattern-one">
                    <circle class="particle circle"/>
                    <path class="particle triangle"/>
                    <circle class="particle circle"/>
                    <path class="particle plus"/>
                    <rect class="particle rect"/>
                    <path class="particle triangle"/>
                </g>
                <g class="burst pattern-two">
                    <path class="particle plus"/>
                    <circle class="particle circle"/>
                    <path class="particle triangle"/>
                    <rect class="particle rect"/>
                    <circle class="particle circle"/>
                    <path class="particle plus"/>
                </g>
                <g class="burst pattern-three">
                    <circle class="particle circle"/>
                    <rect class="particle rect"/>
                    <path class="particle plus"/>
                    <path class="particle triangle"/>
                    <rect class="particle rect"/>
                    <path class="particle plus"/>
                </g>
            </svg>
            <input type=search name=q aria-label="Search for inspiration"/>
        </div>

        <div id="results">
	
        </div>

        <div class="circle">
            <div class="block_circle">
                <span class="dot"></span><p>Math</p>
            </div>
            <div class="block_circle">
                <span class="dot"></span><p>Test</p>
            </div>
            <div class="block_circle">
                <span class="dot"></span><p>Math</p>
            </div>
            <div class="block_circle">
                <span class="dot"></span><p>Test</p>
            </div>
        </div>

    </div>
</body>
</html>