{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'blog/css/home_page.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/home_page_teacher2.css' %}">

</head>
<body>
    <script src="{% static 'blog/js/popup_teacher.js' %}"></script>
    <div class="home_page">
        <div class="navbar">
            <div class="navbar_left">
                <a href="#" class="cs">CS</a>
                <a href="#">Quizzes Management</a>
            </div>
            <div class="navbar_right">
                <div class="navbar_right_icon">
                    <i class="fa-regular fa-circle-user"></i>
                </div>
                <div class="navbar_right_box">
                    <p class="username">{{request.session.username}}</p>
                    <p class="student">Teacher</p>
                </div>
                <div class="navbar_right_icon2">
                    <i class="fa-solid fa-bell"></i>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main_left">
                <div class="menu">
                    <a href="{% url 'home_page_teacher' %}"><i class="fa-solid fa-house"></i>Home</a>
                    <a href="#"><i class="fa-solid fa-square-poll-vertical"></i>Dashboard</a>
                    <a href="#"><i class="fa-solid fa-square-plus"></i>Create Test Set</a>
                    <a href="#"><i class="fa-regular fa-pen-to-square"></i>Practice</a>
                </div>
                <div class="menu_bottom">
                    <a href="#"><i class="fa-solid fa-user"></i>Profile</a>
                    <a href="{% url 'login' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
                </div>
            </div>
            <div class="main_right_teacher_container">
                <!-- Main -->
                <div class="main_right_teacher_box_container">
                    <div class="main_right_teacher_box">
                        <div class="main_right_teacher_box_head">
                            
                        </div>
                        <div class="main_right_teacher_box_tail">
                            
                        </div>
                    </div>

                    <div class="main_right_teacher_box">
                        <div class="main_right_teacher_box_head">
                            
                        </div>
                        <div class="main_right_teacher_box_tail">
                            
                        </div>
                    </div>

                    <div class="main_right_teacher_box">
                        <div class="main_right_teacher_box_head">
                            
                        </div>
                        <div class="main_right_teacher_box_tail">
                            
                        </div>
                    </div>

                    <div class="main_right_teacher_box">
                        <div class="main_right_teacher_box_head">
                            
                        </div>
                        <div class="main_right_teacher_box_tail">
                            
                        </div>
                    </div>

                    <div class="main_right_teacher_box">
                        <div class="main_right_teacher_box_head">
                            
                        </div>
                        <div class="main_right_teacher_box_tail">
                            
                        </div>
                    </div>
                    <div class="main_right_teacher_box">
                        <div class="main_right_teacher_box_head">
                            
                        </div>
                        <div class="main_right_teacher_box_tail">
                            
                        </div>
                    </div>
                    <div class="main_right_teacher_box">
                        <div class="main_right_teacher_box_head">
                            
                        </div>
                        <div class="main_right_teacher_box_tail">
                            
                        </div>
                    </div>
                    <div class="main_right_teacher_box">
                        <div class="main_right_teacher_box_head">
                            
                        </div>
                        <div class="main_right_teacher_box_tail">
                            
                        </div>
                    </div>
                    <div class="main_right_teacher_box">
                        <div class="main_right_teacher_box_head">
                            
                        </div>
                        <div class="main_right_teacher_box_tail">
                            
                        </div>
                    </div>
                    <div class="main_right_teacher_box">
                        <div class="main_right_teacher_box_head">
                            
                        </div>
                        <div class="main_right_teacher_box_tail">
                            
                        </div>
                    </div>
                    <div class="main_right_teacher_box">
                        <div class="main_right_teacher_box_head">
                            
                        </div>
                        <div class="main_right_teacher_box_tail">
                            
                        </div>
                    </div>
                    
                </div>

                <button class="box_add_subject">
                    <i class="fa-solid fa-plus"></i>
                </button>

            </div>
        </div>
        <div class="popup_container">
            <div class="popup_container_box">
                <div class="popup_box">
                   <div class="popup_box_top">
                        <div class="popup_box_top_left">
                            <label class="popup_box_top_left_num">รหัสวิชา :</label>
                            <label class="popup_box_top_left_name">ชื่อวิชา :</label>
                        </div>
                        <div class="popup_box_top_right">
                            <div class="popup_box_top_right_select">
                                <select name="num_subject" id="num_subject" placeholder="ตัวเลือก">
                                    <option value="1234">1234</option>
                                    <option value="5555">5555</option>
                                    <option value="9999">9999</option>
                                </select>
                            </div>
                            <div class="popup_box_top_right_input">
                                <input type="text" placeholder="ชื่อวิชา">
                            </div>         
                        </div>
                        <!-- <div class="popup_box_top_num">
                            <label for="">รหัสวิชา :</label>
                            <select name="num_subject" id="num_subject" placeholder="ตัวเลือก">
                                <option value="1234">1234</option>
                                <option value="5555">5555</option>
                                <option value="9999">9999</option>
                            </select>
                        </div>
                        <div class="popup_box_top_name">
                            <label for="">ชื่อวิชา :</label>
                            <input type="text">
                        </div> -->
                   </div>
                   <div class="popup_box_tail">
                        <button class="popup_box_tail_cancel">
                            Cancle
                        </button>
                        <button class="popup_box_tail_save">
                            Save
                        </button>
                   </div>
                </div>
            </div>
    
        </div>
    </div>
</body>
</html>