<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject</title>

    <link rel="stylesheet" href="/css/subject.css">
</head>
<body>
    <div class="nav_home">
        <div class="nav_home_head">
            <div class="cs">CS</div>
            <a href="#">Quizzes Management</a>
        </div>
        <hr>
        <a href="#"><i class="fa-solid fa-house"></i>Home</a>
        <a href="#"><i class="fa-solid fa-square-poll-vertical"></i>Dashboard</a>
        <a href="#"><i class="fa-solid fa-square-plus"></i>Create test set</a>
        <a href="#"><i class="fa-regular fa-pen-to-square"></i>Practice</a>

        <div class="nav_home_tail">
            <hr>
            <a href="#"><i class="fa-solid fa-user"></i>My Profile</a>
            <a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
        </div>
    </div>
    
    <div class="main_home">
        <div class="main_home_head">
            <a href="#"><i class="fa-regular fa-circle-user"></i>Username</a>
            <i class="fa-regular fa-bell"></i>
        </div>
        <hr>

    </div>
</body>
</html>